@font-face {
    font-family: 'Raleway-Regular';
    src: url('./fonts/Raleway-Regular.ttf');
    font-family: 'Raleway-Bold';
    src: url('./fonts/Raleway-Bold.ttf');
}

/* general elements */
.grid {
    grid-template-columns: repeat(12fr);
}

body {
    font-family: 'Raleway-Regular';
    background-color: #F7F7F7;
    color: #181818;
    overflow-x: hidden;
}

input {
    border: 0;
    border-radius: 0;
    border-bottom: #14213D 1px solid;
    transition: 0.15s;
    background-color: #F7F7F7;
}

button {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #181818;
}

/* containers */
.container {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    justify-content: space-between;
    flex-direction: column;
    background-image: url('./media/background-image.jpg');
    background-repeat: no-repeat;
    background-size: 1100px 1598px;
    background-position: 460px -370px;
}

.hidden-background {
    background-color: #F7F7F7;
}

/* navbar */
nav ul {
    list-style: none;
    padding: 0px 30px 0px;
}

.nav-link {
    text-decoration: none;
    color: #181818;
}

.list-navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.list-navbar li {
    margin: 0px 15px 0px;
    padding: 15px 10px 15px;
}

.navbar-vertical {
    display: flex;
    position: fixed;
    width: 150px;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    color: white;
    height: 100%;
    top: 0;
    left: 0;
}

.navbar-horizontal {
    display: flex;
    min-height: 8vh;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    left: 0;
    font-family: 'Raleway-Bold';
    background-color: #F7F7F7;
}

.navbar-neumorphic {
    display: flex;
    position: fixed;
    height: 80px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F0F2F5;
    color: black;
    top: 0;
    left: 0;
}

.navbar-neumorphic .nav-link {
    padding: 15px 20px 15px;
    color: black;
    border-radius: 5px;
    box-shadow: 5px 5px 15px #e8e9ea,
                -5px -5px 15px white;
}

 .navbar-neumorphic .list-navbar li {
    height: 100%;
}


/* contents */
.content {
    width: 100%;
    min-width: 92vh;
    display: flex;
    flex-direction: column;
}

.home-page {
    position: absolute;
    top: 200px;
    text-align: left;
    margin-left: 50px;
}


/* texts */
.wellcome-home-page {
    letter-spacing: 0.05em;
    font-size: 48px;
    width: 632px;
    text-transform: uppercase;
}

.sub-text-home-page {
    letter-spacing: 0.05em;
    font-size: 24px;
    width: 632px;
}

.title-page {
    margin-top: 2em;
    margin-bottom: 3em;
    text-align: center;
}

.text-date-report {
    margin-bottom: 50px;
    margin-right: 80px;
    text-align: right;
}

/* forms */
form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
}
.form-input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
}

.form-input label {
    width: 200px;
    float: left;
}

.form-input input, .form-input select {
    width: 300px;
    float: left;
}


.form-input .add-button {
    background-color: #FCA311;
    color: white;
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 40px;
    transition: 0.5s;
}

.submit-button {
    width: 100%;
    height: 50px;
    margin-top: 40px;
    background-color: #14213D;
    color: white;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.medium-button {
    width: 20%;
    min-height: 50px;
    margin-left: 40%;
    margin-bottom: 100px;
}

/* lists */
li {
    display: flex;
    flex-direction: row;
}

/* tables */
th {
    width: 150px;
}

td {
    padding: 15px 5px 15px;
}

td .display-total-hours {
    width: 70px;
    text-align: center;
    border: 0px;
    color: #FCA311;
    font-size: 15px;
}

tr {
    text-align: center;
}

/* totals */

.totals-of-report {
    margin: 10px 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.totals-of-report input {
    width: 70px;
    color: #FCA311;
    margin: 0px 10px 0px;
    border: 0px;
    font-size: 16px;
}

.display-results-table {
    border-radius: 5px;
    color: #FCA311;
    padding: 5px 0px 5px;
    box-shadow: 5px 5px 15px #e8e9ea,
                -4px -4px 15px white;

}

/* hover of elements*/
.add-button:hover {
    background-color: white;
    color: #FCA311;
}

.submit-button:hover {
    background-color: white;
    color: #14213D;
}

/* focus */
input:focus {
    outline: none;
    padding-bottom: 10px;
    border-width: 2px;
    border-color: #FCA311;
}

select:focus {
    outline: none;
    border-width: 2px;
    border-color: #FCA311;
}
