@font-face {
    font-family: 'Raleway-Regular';
    src: url('./fonts/Raleway-Regular.ttf');
}

/* general elements */
.grid {
    grid-template-columns: repeat(12fr);
}

body {
    font-family: 'Raleway-Regular';
}

input {
    border: 0;
    border-radius: 0;
    border-bottom: #14213D 1px solid;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    justify-content: space-between;
}

/* navbar */
.navbar-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    color: white;
}

.navbar-vertical ul {
    list-style: none;
    padding: 0 30px 0px;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.list-navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.list-navbar li {
    padding: 15px 0px 15px;
}

/* contents */
.content {
    width: 100%;
}

.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* titles */
.title-page {
    margin-top: 2em;
    margin-bottom: 3em;
    text-align: center;
}

/* forms */
.form-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 35% 15px;
}

.form-input label {
    margin-right: 50px;
}