@font-face {
    font-family: 'Raleway-Regular';
    src: url('./fonts/Raleway-Regular.ttf');
}

/* general elements */
.grid {
    grid-template-columns: repeat(12fr);
}

body {
    font-family: 'Raleway-Regular';
}

input {
    border: 0;
    border-radius: 0;
    border-bottom: #14213D 1px solid;
}

button {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    font-size: 16px;
}

/* containers */
.container {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    justify-content: space-between;
}

/* navbar */
.navbar-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    color: white;
}

.navbar-vertical ul {
    list-style: none;
    padding: 0 30px 0px;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.list-navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.list-navbar li {
    padding: 15px 0px 15px;
}

/* contents */
.content {
    width: 100%;
}

.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* titles */
.title-page {
    margin-top: 2em;
    margin-bottom: 3em;
    text-align: center;
}

/* forms */
form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
}
.form-input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
}

.form-input label {
    width: 200px;
    float: left;
}

.form-input input, .form-input select {
    width: 300px;
    float: left;
    transition: 0.15s;
}


.form-input .add-button {
    background-color: #FCA311;
    color: white;
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 40px;
    transition: 0.5s;
}

.submit-button {
    width: 100%;
    height: 50px;
    margin-top: 40px;
    background-color: #14213D;
    color: white;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

/* hover of elements*/
.add-button:hover {
    background-color: white;
    color: #FCA311;
}

.submit-button:hover {
    background-color: white;
    color: #14213D;
}

/* focus */
input[type=text]:focus {
    outline: none;
    padding-bottom: 10px;
    border-width: 2px;
    border-color: #FCA311;
}
